.info-section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 1.5rem;
    background-color: white;
    border-radius: 12px;
    padding: 24px;
}

.info-section h2 {
    margin-top: 0;
}

.info-section-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.info-section-header h2 {
    margin: 0;
}


.form-combo {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    gap: 8px;
}

.form-combo label {
    font-weight: bold;
}