.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 12px;
    align-items: center;
    background-color: white;
    padding: 16px;
    height: 100%;
    width: 5%;
}

.sidebar-item {
    padding: 16px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sidebar-item-img {
    width: 50%;
}