.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 12px;
    align-items: center;
    background-color: white;
    padding: 16px;
    height: 100%;
    width: 5%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.sidebar-item {
    padding: 16px;
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sidebar-item-img {
    width: 50%;
}