.resume {
    height: 100vh;
    margin: auto;
    width: 60%;
    text-align: center;
    color: white;
}

.resume-header {
    padding: 36px 24px;
    background-color: #0e374e;
}

.resume-header h1 {
    margin: 0;
    margin-bottom: 14px;
}

.extra-info {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.resume-body {
    background-color: white;
    height: 82%;
}